.indexContent {
  padding-top: 80px;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: -5px;
    background: #eaeaea;
  }
}
