---
title: {{title}}
createdDate: "{{createdDate}}"
updatedDate: "{{createdDate}}"{{tags}}
image: welcoming.png
origin: {{origin}}
draft: {{draft}}
---

My awesome article

## TODO

-   [ ] Replace image
-   [ ] Write an awesome article
