.footer {
  padding-bottom: 60px;
  padding-top: 90px;
  text-align: center;
  color: #fff;
  background: #101012;
}

.footerInner {
  margin: 0 auto;
  max-width: 720px;
  padding: 0 30px;
  font-size: 15px;
  color: #adabac;
  letter-spacing: 2px;
  text-transform: uppercase;
}
