@import '../themes.scss';
.header {
  width: 100%;
  overflow: hidden;
  background: $global-background-color;
  height: $header-height;
  overflow: hidden;
  .headerBgContainer {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    left: 0;
    top: 0;
    opacity: 0.3;
    width: 100%;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-out;
    height: 100%;
  }
  .headerTitle {
    color: white;
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 1000;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.banner {
  position: relative;
}
