.root {
  padding: 0;
  margin: 0;
  background: #fff;
  overflow-y: auto;
  padding-bottom: 20px;
}
.header {
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  .headerBgContainer {
    width: 100%;
    height: 100%;
  }
  .headerTitle {
    color: white;
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 1000;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
.banner {
  position: relative;
}
