@import '../themes.scss';
.menu {
  position: absolute;
  text-align: right;
  width: 100%;
  padding: 0 20px;
  top: 8px;
  z-index: 4;
  line-height: 60px;
  > ul {
    list-style-type: none;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    > li {
      display: inline-block;
      padding: 0;
      margin: 0 15px;
      font-size: 18px;
      cursor: pointer;
      a {
        color: #d4d3d3;
        text-decoration: none;
        background: transparent;
      }
    }
  }
}

.fixPosition {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1003;
}
@media screen and (max-width: 721px) {
  .topPosition {
    visibility: hidden;
  }
}
.menuBtnContainer {
  width: 56px;
  height: 56px;
  line-height: 50px;
  text-align: center;
  padding: 0;
  background: $global-background-color;

  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
.menuBtn {
  position: relative;
  width: 20px;
  height: 20px;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  vertical-align: middle;
  z-index: 1002;
  div {
    top: 50%;
    transform: translateY(-50%);
    transition: all 150ms;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 10%;
    background: white;
  }
  &:before {
    position: absolute;
    width: 100%;
    height: 10%;
    background: white;
    transition: all 300ms;
    content: '';
    display: block;
    top: 0;
  }
  &:after {
    position: absolute;
    width: 100%;
    height: 10%;
    background: white;
    transition: all 300ms;
    content: '';
    bottom: 0;
    display: block;
  }
  &.menuBtnActive {
    &:before {
      top: 50%;
      transform: translateY(-50%) rotateZ(135deg);
    }

    &:after {
      bottom: 50%;
      transform: translateY(50%) rotateZ(45deg);
    }

    div {
      opacity: 0;
    }
  }
}
.menuInner {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1001;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  background: $global-background-color;
  padding-top: 100px;
  ul {
    li {
      list-style: none;
      a {
        text-decoration: none;
        display: block;
        font-size: 22px;
        color: white;
      }
    }
  }
  &.menuExited {
    visibility: hidden;
  }
  &.menuShow {
    visibility: visible;
  }
}

.menuOpen {
  overflow: hidden;
  padding-right: 15px;
  height: 100%;
}
.htmlMenuOpen {
  overflow: hidden;
}

.slideOutRight {
  margin-left: 100%;
  transition: margin-left 0.5s ease-out;
}
