@import '../themes.scss';
.pagination {
  text-align: center;
  background: white;
  padding-top: 10px;
  position: relative;
  a {
    border-radius: 4px;
    user-select: none;
    min-width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    margin: 0 4px;
    font-family: Arial;
    outline: 0;
    text-decoration: none;
    color: black;
  }
  span {
    margin: 0 4px;
  }
  a.active {
    border-color: $tag-theme-color;
    color: $tag-theme-color;
  }
  a:hover {
    transition: all 0.3s;
    border-color: $tag-theme-color-hover;
    color: $tag-theme-color-hover;
  }
}
