.postItem {
  margin: 0 auto 100px;
  max-width: 1200px;
  position: relative;
  padding: 0 20px;
  a {
    text-decoration: none;
    color: #333;
  }
  @media screen and (min-width: 1200px) {
    &:nth-child(odd) {
      text-align: left;
    }
    &:nth-child(even) {
      text-align: right;
    }
    &:nth-child(odd) .itemElse {
      left: 660px;
    }
    &:nth-child(even) .itemElse {
      right: 660px;
    }
    .itemElse {
      position: absolute;
      top: 20px;
    }
  }
  .timeLabel {
    position: absolute;
    top: -30px;
    p {
      margin-top: -5px;
      color: #adabac;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      border: 1px solid #aaa;
      width: 12px;
      height: 12px;
      background: #fff;
      border-radius: 50%;
    }
  }
  &:nth-child(odd) .timeLabel {
    left: 50%;
    vertical-align: middle;
    text-align: left;
    &:before {
      left: -6px;
    }
    p {
      margin-left: 20px;
    }
  }
  &:nth-child(even) .timeLabel {
    right: 50%;
    vertical-align: middle;
    text-align: right;
    &:before {
      right: -6px;
    }
    p {
      margin-right: 20px;
    }
  }
}
.itemMain {
  display: 'block';
  position: relative;
  &:hover {
    text-decoration: 'none';
  }
}
.cover {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  position: relative;
  z-index: 3;
  img {
    width: 100%;
  }
}
.itemElse {
  text-decoration: none;
  background: #fff;
  height: 398px;
  width: 498px;
  margin: 0;
  text-align: left;
  padding: 60px 80px 20px;
  border: 1px solid #eaeaea;
  & p.first-child {
    color: #999;
    font-size: 12px;
    margin: 80px 0 0 80px;
  }
}
@media screen and (max-width: 1199px) {
  .itemMain {
    text-align: center;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    background: #fff;
  }
  .cover {
    display: block;
    a {
      display: block;
    }
  }
  .itemElse {
    width: 100%;
    border: none;
    padding: 5px 0 20px;
    height: auto;
  }
}
@media (min-width: 600px) {
  .itemMain {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.here {
  position: absolute;
  left: 80;
  bottom: 80;
  color: #999;
  font-size: 12;
}
