@import '../themes.scss';
.tagContainer {
  margin-bottom: 8px;
  position: relative;
  > .tag {
    &:hover {
      background: $tag-theme-color;
    }
    a {
      text-decoration: none;
      color: white;
      padding: 0 7px;
    }
    background-color: $tag-theme-color-hover;
    color: #fff;
    list-style: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
  }
  > .tag.large {
    line-height: 26px;
    height: 28px;
    margin-right: 16px;
    margin-bottom: 8px;
    font-size: 20px;
  }
  > .tag.small {
    line-height: 20px;
    height: 22px;
    margin-right: 8px;
    margin-bottom: 4px;
    font-size: 12px;
  }
  > .original {
    position: absolute;
    background-color: rgba(242, 174, 67, 0.25);
    color: rgb(242, 174, 67);
    margin-left: -33px;
    margin-right: 10px;
    padding: 0 6px;
    font-size: 14px;
    line-height: 26px;
    border-radius: 11px;
  }
}
